// All the colors are defined here.

$primary-color: #3ECCCD;
$dark-color: #555555;
$light-color: #eeeeee;
$white: #ffffff;
$max-width: 1100px;

// Set background & text color
@mixin set-background($color) {
background-color: $color;
color: set-text-color($color);
}

// Transation easening mixin
@mixin transition-ease {
transition: all 0.5s ease-in-out;
}
