@media (max-width: 680px){
.menu-nav{
  width: 50%
}
}

@media (max-width: 480px) {
  
  .nav{
    position: relative;
    width: 100% !important;
  
    
.menu-btn{
  display: block;
}
  .menu-nav{
      display: grid ;
      grid-template-columns: auto !important;
      margin: 0 !important;
      background: $primary-color;
      width: 100vw !important;
      position: absolute;
      top: 60px;
      opacity: 0;
      z-index: 99;

      &.open {
      opacity: 1;
    }
    }
}

 .about
  {

    &__item{
      grid-template-columns: 1fr !important;
    }
    
  }
}