// Container
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;

}


// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }


  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}